@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Delius+Swash+Caps&display=swap');

body {
  background-color: MistyRose;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
main-nav {
  float: left;
  width: 100px;
  background-color: Thistle;
  text-decoration: none;
}
#main-nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
  text-decoration: none;
}
nav ul li a:hover {
  color: Black; 
  background-color: HotPink; 
  text-decoration: none; 
}
a{
  text-decoration:none;
}
main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
  background-color: Plum;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px;
  text-decoration: none;
}
main-nav ul li a {
  padding: 10px 25px;
  display: block;
  color: Plum;
  text-decoration: none;
}
.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: black;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navigation ul li {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  background-color: Plum; 
}
h1 {
  top: 20px;
  font-size: 3em;
  font-family: "Delius Swash Caps", sans-serif;
  color: Black;
  font-family: "Delius Swash Caps", sans-serif;
}
div {
  background-color: HotPink;
  text-align: center;
  display: flow;
  padding: 20px;
  border:10px ridge silver;
  width: 90%;
  margin: 0px auto;
  font-family: "Delius Swash Caps", sans-serif;
}

#box1 {
  background-color: LightPink;
  text-align: center;
  display: flow;
  padding: 20px;
  border:10px ridge silver;
  width: 90%;
  margin: 0px auto;
  font-family: "Delius Swash Caps", sans-serif;
}
#p1 {
  height: 20%;
  width: 30%;
  float: left;
}
#p2 {
  height:50%;
  width:50%;
  float: left;
}

#vidPen{
  float: right;
}
img {
  position: relative;
  max-width: 40%;
  max-height: 30%;
  border: 2px white;
}
strong {
  color: Maroon;
  font-weight: bold;
}
iframe {
  width: 560px; 
  height: 315px;
  border: 0px;
}
#loossembleVid {
  position: fixed;
  top: 50%;
  left: 10%;
  width: 20%;
  height: 30%;
}

